<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.minbar.tafhimulquran">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.KitabTafheem"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">


        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />

        </provider>

        <receiver android:name=".Prayer.PrayerAlarmReceiver" android:exported="false"/>
        <receiver android:name=".Prayer.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Prayer.PrayerActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DonationActivity"
            android:exported="false" />
        <activity
            android:name=".Hadith.HadithListActivity"
            android:exported="false" />
        <activity
            android:name=".Hadith.HadithChapterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Hadith.DownloadingActivity"
            android:exported="false" />
        <activity
            android:name=".Daily.DailyActivity"
            android:theme="@style/Theme.KitabTafheemNo"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.PageMainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.PageActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.SingleActivity"
            android:theme="@style/Theme.KitabTafheemNo"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.StarkActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.SentenceActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.OvidhanActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.TajwidActivity"
            android:theme="@style/Theme.KitabTafheemNo"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.SettingsActivity"
            android:theme="@style/Theme.KitabTafheemNo"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.AudioActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.KitabTafheemNo">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.BitActivity"
            android:theme="@style/Theme.KitabTafheemNo"
            android:exported="false" />
        <activity
            android:name=".Activity.FavActivity"
            android:theme="@style/Theme.KitabTafheemNo"
            android:exported="false" />
        <activity
            android:name=".Activity.TafheemActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.KitabTafheemNo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.DarsActivity"
            android:theme="@style/Theme.KitabTafheemNo"
            android:exported="false" />
        <activity
            android:name=".Activity.SubjectActivity"
            android:theme="@style/Theme.KitabTafheemNo"
            android:exported="false" />
        <activity
            android:name=".Activity.VerseActivity"
            android:exported="false"
            android:theme="@style/Theme.KitabTafheemNo"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.KitabTafheemNo" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_providers_paths" />
        </provider>
    </application>

</manifest>